@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: Nunito Sans;
}
img {
  max-width: 100%;
}
.head {
  padding: 1.5% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
.head span {
  font-size: 32px;
  font-weight: 800;
}
.mode span {
  font-size: 20px;
  font-weight: 300;
}
.container {
  padding: 2.5% 4%;
  background-color: hsl(0, 0%, 98%);
}
.search-container {
  display: flex;
  justify-content: space-between;
}
.search {
  height: 50px;
  width: 30%;
  border: none;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.search-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.search input {
  height: 100%;
  width: 100%;
  padding-left: 50px;
  border: none;
}
.filter {
  height: 50px;
  width: 12%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
}
.filter select {
  border: none;
  background-color: white;
  font-size: 16px;
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5vw;
  column-gap: 5vw;
  margin-top: 50px;
}

a {
  text-decoration: none;
}
button, a {
  cursor: pointer;
}


.countries-container article {
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);

  width: calc((100% - 3 * 5vw) / 4);
  border-radius: 10px;
}
.countries-container img {
  width: 100%;
  aspect-ratio: 5/3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.country-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: black;
}
.country-details h2 {
  margin-bottom: 10px;
}
.country-details span {
  font-size: 16px;
  font-weight: 300;
}
.country-details-container{
margin-top: 50px;  
padding: 4%;
}
.country-details-container button{
 padding: 7px 20px;
 border: none;
 background-color: white;
 box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
 border-radius: 5px;
  }
.country-name {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
}
.details-sub-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.flag {
  width: 40%;
}
.flag img{
  width: 100%;
  aspect-ratio: 5/3;
}
.country-details-unique{
  width: 60%;
  padding-left: 8%;
  padding-top: 2%;
}
.list-items{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.list-items span {
  font-weight: 600;
}

li {
  padding-bottom: 5px;
}
.borders {
  margin-top: 50px;
}
.borders {
  font-weight: 600;
}
.no-border-message {
  font-weight: 300;
}
.borders button {
  margin: 10px;
}
.loading-message {
  font-size: 24px;
  font-weight: 500;
}
.no-countries-message {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
}